$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 64%);
$color-header:hsl(0, 8%, 76%);
$color-title: rgb(255, 255, 255);
$color-subtext: hsl(0, 0%, 30%);
$color-border: hsl(0, 3%, 42%);
$color-background:  hsl(0, 0%, 11%);
$color-box-background: mix($color-background, white, 94%);
$border-radius: 4px;
$box-shd: 5px 5px 12px rgba(0, 0, 0, 0.555);
$border-3d: outset #47474786 1px;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@150;250;400&display=swap');
$font-family:'Josefin Sans', sans-serif;

body {
  background-color: $color-background;
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1.02rem;
  font-weight: 250;
  max-width: 63em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.623);

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: mix($color-text, white, 80%);
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background;
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1 {
color: $color-title;
text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.623), 8px 8px 16px rgba(0, 0, 0, 0.692), 4px 4px 8px rgba(0, 0, 0, 0.623);
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
  color: $color-header;
}

a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid $color-border;
  color: #b84949;
  &:hover {
    color:#c01818 !important;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
    color: #aaaaaa;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

*:focus {
  color: rgb(218, 164, 164) !important;
}

nav {
  margin: 1em 0 3em;
}

#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";
content {
  width: 85vw;
  background-color: $color-box-background;
  padding:2vw;
  border-radius: $border-radius;
  border: $border-3d;
  box-shadow: $box-shd;
}
  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
    content {
      width: 60vw;
    }
  }
}


.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
  border: $border-3d;
  box-shadow: $box-shd;
}
code {

  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #ff00001f;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}
